<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>
<!-- navigation -->
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
            {{#if isAuthenticated}}{{user.name}}'s{{else}}我的{{/if}}餐廳清單
        </a>
    </div>
    {{#if isAuthenticated}}
        <a class="navbar-brand" href="/users/logout">
            <i class="fas fa-sign-out-alt"></i>
            Log out
        </a>
    {{else}}
        <a class="navbar-brand" href="/users/login">
            <i class="fas fa-user"></i>
            Log in
        </a>
    {{/if}}
</nav>

<div class="banner"></div>
<link rel="stylesheet" href="/stylesheets/index.css">
  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}
    <script src="/javascripts/jquery-3.3.1.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</body>
</html>